<body>
    <header>

        <div class="usuario" id="usuario">
            <h2>
                <%= arrayDataUser[0].name %>
            </h2>
            <img id="engrenagem" src="../../assets/img/gear.png" alt="Engrenagem">
            <ul id="menu" class="hiden">
                <li>Dahsboard</li>
                <li>Sair</li>
            </ul>
        </div>
    </header>

    <div class="grid-container-main">
        <div class="grid-item-main">
            <h1>Vamos completar?</h1>
            <input id="criarPerguntas" type="button" value="Criar novas perguntas" onclick=createQuestion(event)>
            <input type="button" name="" value="Perguntas Criadas" onclick="questionsUser(event)">
        </div>
    </div>

    <!-- Formularios Já Criados-->
    <div class="grid-container-section" id="grid-container-section">
        <div class="grid-item-section">

            <label for="">Selecione o ano letivo:</label>
            <select name="serie-names" id="serie-names" onchange="filterSchoolYear()">
                <option value="Todos">Todos</option>
                <option value="1">1ª Série</option>
                <option value="2">2ª Série</option>
                <option value="3">3ª Série</option>
                <option value="4">4ª Série</option>
            </select>

            <% for(i = 0; i < arrayDataUser[0].lacuna.length; i++){ %>

                <div style="display: block;" id="quiz-button" class="quiz-button">
                    <a href='lacuna/<%= arrayDataUser[0].id %>/<%= i %>' class="link-quiz">
                        <span id="questionLacunas" class="<%= arrayDataUser[0].lacuna[i].Ano %>"><%= arrayDataUser[0].lacuna[i].titulo %></span>
                    </a>
                    <input type="button" value="Editar" onClick="window.location.assign('/lacuna/edit/<%= arrayDataUser[0].id %>/<%= i %>')">
                    <input type="button" value="Excluir" onClick="window.location.assign('/lacuna/formDelete/<%= arrayDataUser[0].id %>/<%= arrayDataUser[0].lacuna[i].id %>')">
                </div><br>

                <% } %>
        </div>
    </div>

         <div class="grid-container-inputs">
            <div class="grid-item-inputs">

                <input id="quantidadeLacunas" type="number">
                <button id="enviarNumero"></button>

                <form action="/lacuna/form/<%= idUser %>" method="post" enctype="application/x-www-form-urlencoded" onSubmit="return enviardados()">
                    <div id="Container" class="container">

                        <input type="hidden" name="number" id="value_model">

                        <div class="titleQuestion">
                            <h2>Titulo do Exercício</h2>
                            <input type="text" name="activityTitle" titulo placeholder="titulo" id="">
                        </div>

                        <div class="schoolYear">
                            <label for="">Selecione o ano letivo:</label>
                            <select name="serieNames" id="serie-names" required>
                                <option value=""></option>
                                <option value="1">1ª Série</option>
                                <option value="2">2ª Série</option>
                                <option value="3">3ª Série</option>
                                <option value="4">4ª Série</option>
                            </select><br><br>

                        </div>
                    </div>
                    <input type="submit" id="submit" value="Enviar">
                </form>
            </div>
        </div>
        
    </div>

    <input type="button" value="Voltar" onClick="window.location.assign('/portal/<%= arrayDataUser[0].id %>')">
    <script type="text/javascript" src="/script/lacunaScript/geradorLacuna.js"></script>