<%- include ('./partials/header.ejs') %>

    <body>
        <div class="header-menu">
            <a href="/quiz/home/<%= user %>"><button class="btn btn-success">Voltar</button></a>
        </div>

        <h1>
            <%= quizEscolhido.titulo %>
        </h1>

        <div class="content">
            <% for(let i = 0; i < quizEscolhido.perguntas.length; i++){  %>
                <span class="tituloPergunta"><%= quizEscolhido.perguntas[i].pergunta %></span>
                <div class="answers">
                    <input type="checkbox" class="resposta_certa resp<%=i%>" data-correct="<%= quizEscolhido.perguntas[i].resposta[0].correta %>">
                    <%= quizEscolhido.perguntas[i].resposta[0].opcao %>
                        </input><br>
                        <input type="checkbox" class="resposta_errada resp<%=i%>" data-correct="<%= quizEscolhido.perguntas[i].resposta[1].correta %>">
                        <%= quizEscolhido.perguntas[i].resposta[1].opcao %>
                            </input>
                </div>
                <% } %>
        </div>
        <div class="finish">
            <span></span>
            <button class="verificar">Verificar</button>
        </div>

    </body>
    <script src="/script/quiz/quizScript.js" type="text/javascript"></script>

    <%- include ('./partials/footer.ejs') %>