<%- include ('./partials/header.ejs') %>

    <body>
        <div class="header-menu">
            <a href="/quiz/home/<%= user %>"><button class="btn btn-success">Voltar</button></a>
        </div>

        <h1>
            <%= quizEscolhido.titulo %>
        </h1>
        <input id="identificador" type="hidden" value="<%= ident %>">
        <input type="hidden" id="User" value="<%= user %>">

        <div class="content" id="Content"></div>
        
        <div class="finish">
            <span></span>
            <button class="verificar">Verificar</button>
        </div>

        <script type="text/javascript" src="/script/quiz/inputRandom.js"></script>
    </body>

    <script  type="text/javascript" src="/script/quiz/quizScript.js" ></script>
    <script>
        

    </script>

    <%- include ('./partials/footer.ejs') %>